






---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { Markdown } from 'astro/components'
import Airtable from 'airtable';
export async function getStaticPaths() {
  let apiKey = import.meta.env.AIRTABLE_API_KEY;  
  let dbID = import.meta.env.AIRTABLE_DB_ID;
  console.log(import.meta.env.AIRTABLE_DB_ID);
  let airtable = new Airtable({apiKey}).base(dbID);
  let elements = await airtable('destinatario').select({
    view: 'Grid view'
  }).firstPage();
  return elements.map((record) => ({
    params: { destinatarioID: record.id },
    props: {
      ...record.fields
    }
  }));
}
// const {aid} = Astro.request.params;
const destinatario = Astro.props;
---
<BaseLayout title="Homepage">
  <h1>
  <a href="/destinatarios">Obras</a> &lt;
   {destinatario.Name}
  </h1>
  
  <div class="destinatario-detail">
    <div class="destinatario-picture">
      <img src={destinatario.Attachments[0].url}/>      
    </div>
    <div class="description">
        <Markdown>
          {destinatario.Notes}    
        </Markdown>    
    </div>
  </div>
</BaseLayout>
